job edit

<h1>Edit <%= @job.title%>!</h1>

<%= render partial: "layouts/errors", locals: {object: @job} %>

<%= form_for @job, html: { multipart: true } do |f|%>

  <%= f.label "Choose a category:" %>
  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>

  <p>Or create a new category:
  <%= f.fields_for :category do |c|%>
    <%= c.text_field :name%>
  <% end %>
  </p>
  <br>
<%= f.label :image %><br>
<%= f.file_field :image %> <br><br>
<%= f.label :title %>
<%= f.text_field :title, placeholder: "Company Name" %><br><br>
<%= f.label :service %>
<%= f.text_field :service, placeholder: "Service"%><br><br>
<%= f.label :phone %>
<%= f.number_field :phone, placeholder: "Phone Number" %><br><br>
<%= f.label :email %>
<%= f.email_field :email, placeholder: "Busness Email" %><br><br>

<%=f.submit "Submit" %>
<% end %>