index/job



<div>
<table id="jobs">

<tbody>
<% @jobs.each do |job| %>
    <tr>
    <th>Company Name</th>
    <th>Company Service</th>
    <th>Company Category</th>
    <th>Company Adress</th>
    <th>Company Phone Number</th>
    <th>Company Email</th>
  </tr>
    <tr>
    <td>   <%= job.title %></td>
    <td>   <%= job.service %></td>
    <td>   <%= job.category.name%></td>
    <td>   <%= job.adress %></td>
    <td>   <%= job.phone %></td>
    <td>   <%= job.email %></td>
    <td><%= link_to "Edit" , edit_job_path(job) %></td>
    </tr>

    <% end %>

    </tbody>
    </table>
    <br><br>
    </div>