<h1>All Jobs</h1>

    <div class="container" >
    <fieldset>
    <div  class="row">
    <div class="col-12 col-lg-3 col-md-6 box d-flex">
    <table class="table table-dark" >
    <tbody>
      <% @jobs.each do |job| %>

  <tr>
  <td> <%= image_tag job.image.url(:medium)  %>  </td>
  </tr>
  
  
  <tr>
  <td><strong>Company Name</strong></td>
  <td>   <%= job.title %></td>
  </tr>
  
  
  <tr>
  <td><strong>Company Service</strong></td>
  <td>   <%= job.service %></td>
  </tr>

  <tr>
  <td><strong>Company Category</strong></td>
  <td>   <%= job.category.name%></td>
  </tr>

  <tr>
  <td><strong>Company Adress</strong></td>
  <td>   <%= job.adress %></td>
  </tr>

  <tr>
  <td><strong>Company Phone Number</strong></td>
  <td>   <%= job.phone %></td>
  </tr>

  <tr>
  <td><strong>Company Email</strong></td>
  <td>   <%= job.email %></td>
  </tr>

  <tr>
  <td><span>(<%= pluralize(job.reviews.size, 'review') %>)</span></td>
  </tr>
  
    
    <% if job.user == current_user %>
    <tr>
    <td><%= link_to "Edit" , edit_job_path(job), class: "btn btn-danger" %></td>
    <td><%= link_to 'Destroy', job, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?'  } %></td>
    </tr>
    <% end %>

  <tr>
  <td>   </td>
  </tr>


  <% end %>
   </tbody>
   </table>
  
   
    </div> 
    </div>
    </fieldset>
    </div>
  
    