index/job

<ol>
<% @jobs.each do |job| %>
    <li>Company Name:   <%= job.title %></li>
    <li>Company Service:   <%= job.service %></li>
    <li>Category:   <%= job.category.name %></li>
    <li>Company Adress:   <%= job.adress %></li>
    <li>Company Phone Number:   <%= job.phone %></li>
    <li>Company Email:   <%= job.email %></li>
    <li><%= link_to "Edit", edit_job_path(job) %></li>
    </ol>
    <br><br>
    

    <% end %>