
<br><div class = "container">
    <div class="title">Build Job</div>
    


<br><%= form_for @job, html: { multipart: true } do |f| %>

    <%= f.label "Choose a Category" %>
    <%= f.collection_select  :category_id, Category.all, :id, :name, include_blank: true%>


    <p>Or create a new category:</p>
      <%= f.fields_for :category do |c|%>
      <%= c.text_field :name%>
      <% end %>
    

    <br>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <br><br>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Company Name" %>
    <br><br>
    <%= f.label :service %>
    <%= f.text_field :service , placeholder: "Offered services"%>
    <br><br>
    <%= f.label :adress %>
    <%= f.text_field :adress, placeholder: "Adress" %>
    <br><br>
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: "+1 XXX-XXX-XXXX" %>
    <br><br>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Email" %>
    <br><br>
<p class="btn btn-primary">
    <%= f.submit %>
</p>
    <% end %>

    </div>