<h3>  job.show.html</h3>


<h1>Your Job<h1>

<h2><%= image_tag @job.image.url(:medium) %></h2>


<h2>By: <%=link_to @job.user.firstName, user_path(@job.user)%> </h2>





<div class="table-responsive">
    <table class="table">
    <tbody>
    
  <tr>
  <td><strong>Company Name</strong></td>
  <td>   <%= @job.title %></td>
  </tr>
  
  <tr>
  <td><strong>Company Service</strong></td>
  <td>   <%= @job.service %></td>
  </tr>

  <tr>
  <td><strong>Company Category</strong></td>
  <td>   <%= @job.category.try(:name) %></td>
  </tr>

  <tr>
  <td><strong>Company Adress</strong></td>
  <td>   <%= @job.adress %></td>
  </tr>

  <tr>
  <td><strong>Company Phone Number</strong></td>
  <td>   <%= @job.phone %></td>
  </tr>

  <tr>
  <td><strong>Company Email</strong></td>
  <td>   <%= @job.email %></td>
  </tr>

  
    

  </tbody>
</table>
    </div> 

    <% if @job.user == current_user %>
    <h4><%= link_to "Edit", edit_job_path(@job) %></h4>
    <% end %>
    <h4><%= link_to 'All Jobs', jobs_path %></h4>
    



<div>
<h1 class="review_title"><%= @job.title %></h1>

<% if @reviews.blank? %>
<h3>No reviews yet</h3>
<br><p><%= link_to 'Add a Review', new_job_review_path(@job), class: "btn btn-danger" %></p>
<% else %>

<% @reviews.each do |review|%>
  <h3><p><%= review.description %></p></h3>
  <h5>Posted by: <%= link_to "#{review.user.firstName}", job_review_path(@job, review) %></h5>
  
  <% end %>
  <% end %>
</div>



