<h3>  job.show.html</h3>


<h1>Your Job<h1>
<%= image_tag @movie.image.url(:medium) %>

<h3><%= @job.title %></h3>
<h2>By: <%=link_to @job.user.firstName, user_path(@job.user)%> </h2>

<h2>Job Category:</h2>
<h3><%= @job.category.try(:name)%></h3>
<h2>This Job offers services:</h2>
<div><h3><%= @job.service %></h3></div>
<h2>Phone number is:</h2>
<div><h3><%= @job.phone %></h3></div>
<% if @job.user == current_user %>
<h4><%= link_to "Edit", edit_job_path(@job)%></h4>
<%= link_to 'All Jobs', jobs_path %>
<% end %>





<p><%= link_to 'Add a Review', new_job_review_path(@job) %></p>

<% if !@job.reviews.empty? %>
<p><%= link_to 'See all reviews', job_reviews_path(@job)%></p>
<h4>Most Recent Comments:</h4>
<% @job.reviews.order(update_at: :desc).limit(4).each do |c| %>
    <li>
<strong><%= c.user.username %></strong> "<%= link_to c.description, job_review_path(@job, c) %>" at <%= c.updated_at.strftime("%I:%M %p on %m/%d/%Y") %>
</li>
<% end %>


<% end %>


