<h1>Wllcome </h1>


<br><div class = "container">
    <div class="title"><%= @user.firstName %></div>
    <div class="title"><%= @user.lastName %></div>
    <div class="title"><%= @user.email %></div>
    </div><br>
   <br><div class="row">
    <% @user_jobs.uniq.each do |job| %>
        
        <div class="img-thumbnail">
        <ul class="row">
        <h2><%= job.title%></h2>
        <li class="listt"><%= link_to (image_tag job.image.url(:medium), class: 'image'), job %> </li>
        </ul>
        
        </div>
    <% end %>
    </div>
    
<br><%= link_to "Create Job Details", new_job_path, class: "btn btn-danger" %>


