<h1>Write your Review for <%= @review.job.title %></h1>

<%= form_for [@job, @review] do |f|%>
  <%= f.hidden_field :job_id%>
  <div>
    <%= f.label :description%>
    <%= f.text_area :description%>
  </div>

  <div>
    <%= f.label :rating, "Rating from 1-10"%>
    <%= f.number_field :rating, min: 0, max: 10%>
  </div>
  <br>
  <%= f.submit %>
<% end %>