<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>



<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">

<% if logged_in? %>
<li><%= link_to "All Categories", categories_path,class:"btn btn-default" %></li>
<li><%= link_to "Post Your Job", user_path(current_user), class:"btn btn-default" %></li>
<li><%= link_to 'All Jobs', jobs_path, class:"btn btn-default" %></li>
<li><%= link_to "Your Reviews", current_user, class:"btn btn-default"  %></li>
<li><%= link_to "Log Out", logout_path,  method: :delete, class:"btn btn-default" %></li><br><br>
<br><br><div class="form">
<form action="/search">
<li><input name="q" type = "text" placehold="search", class="form-control"/></li><br>
<button type="submit", class="btn btn-primary"> Search</button>
</form>
</div>



    <% else %>
<li><%= link_to  "Sign up", signup_path, class:"btn btn-default" %></li>

<li><%= link_to "Log in", login_path, class:"btn btn-default"%></li>

<li><%= link_to "Log In with Google", '/auth/google_oauth2', class:"btn btn-default" %></li>
  <% end %>
</ul>



</div>




  
  
 

  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
