<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>

  <% if logged_in? %>
<%= link_to "All Categories", categories_path %> |
<%= link_to "Post Your Job", user_path(current_user)%> |
<%= link_to "Log Out", logout_path,  method: :delete%>
    <% else %>
<%= link_to "Sign up", signup_path %>
<br><br>
<%= link_to "Log in", "/signin"%>
  <% end %>

  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
