<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>



<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<% if logged_in? %>
<%= link_to "All Categories", categories_path %>|
<%= link_to "Post Your Job", user_path(current_user)%>|
<%= link_to "Log Out", logout_path,  method: :delete%><br><br>|
<%= link_to "Your Reviews", current_user %><br>


    <% else %>
<li><%= link_to "Sign up", signup_path %></li>
<br><br>
<li><%= link_to "Log in", "/signin"%></li>
  <% end %>
</ul>
<%= form_tag search_jobs_path, method: :get, class: "navbar-from navbar-right", role: "search" do %>
<p>
<%= text_field_tag :search, params[:search], class: "form-contol"%>
<%= submit_tag "Search", name: nil, class:"btn btn-default" %>
</p>

<% end %>

</div>




  
  
 

  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
